
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 500px 0 500px;
    background: #235a88;
}

form {
    background: white;
    border-radius: 5px;
    padding: 40px 40px 30px 30px;
    margin: 0 auto;
    width: 90%;
    height: 550px;
}

h1 {
    margin-bottom: 20px;
}

#nameValue {
    margin: 0 0 20px 0;
    width: 70%;
    height: 25px;
}

label {
    display: block;
}

#list {
    height: 36vh;
    width: 70%;
    border: grey 1px solid;
    padding-left: 10px;
}

button {
    padding: 3px;
    gap: 40px;
    width: 92px;
}

.buttonAdd {
    margin-left: 40px;
    padding: 2px 2px 2px 2px;
    width: 45px;
}

.buttonGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80px;
}

.buttonDel {
    width: 60px;
    margin-top: 20px;
}

.sortGroup {
    display: flex;
    gap: 40px;
}

/*@media (min-width: 481px) and (max-width: 767px) {*/
/*    form {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*    }*/

/*    button {*/
/*        width: 300px;*/
/*    }*/

/*    input {*/
/*        margin-right: 0;*/
/*    }*/

/*    p {*/
/*        margin-top: 20px;*/
/*    }*/

/*    .listGroup {*/
/*        flex-direction: column;*/
/*    }*/
/*}*/


